<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" viewEngine="Razor">
  <assemblies>
    <add assembly="Nansen.Components.TinyMCETemplates" />
  </assemblies>
  <clientResources>
  </clientResources>
  <dojo>
    <packages>
    </packages>
    <aliases>
    </aliases>
  </dojo>
</module>